.movie-card {
  background: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  max-width: 200px;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
